p, li {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

h1, h2, h3, h4 {
    font-family: 'Stardos Stencil', cursive;
}

pre {
    font-size: large;
}

/*
*/

/*
font-family: 'Raleway', sans-serif;
font-family: 'Stardos Stencil', cursive;
font-family: 'Roboto Mono', monospace;
*/
